rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Lectura pública para todos
    match /playas/{id} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /restaurantes/{id} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /eventos/{id} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}
